.menu {
background-color: #1A237E;
width: 100vw;
height:12vh;
 border-radius: 0px 0px 15px 20px;

}


* {
margin: 0;
padding: 0


}

.logo
{
color:white;
margin-left: 40px
}

.lega {
margin-bottom: 100px


}
body {
background-color:


}



.ped {
color: white;
font-size: 15px;
margin-left: 40px



}



.teh
{
float: left;
margin-left: 800px;
margin-top: -60px





}


.vk
{
float: left;
margin-left: 850px;
margin-top: -60px
}
